#slogan {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 30px;
}

#idea {
    padding: 40px;
    line-height: 30px;
    text-align: center;
}

#promise {
    text-align: center;
    margin-top: 30px;
}

#farmer {
    width: 80%;
    text-align: center;
    margin-top: 30px;
}

#farmer img {
    opacity: 50%;
    border-radius: 50%;
}

#farmer img:hover {
    opacity: 100%;
}

.bs-popover-auto {
    /* outline: 1px solid black; */
}

.popover-header,
.popover,
.popover-body {
    /* outline: 1px solid black; */
    background-color: #ccdcac;
    /* border-color: #362706; */

}

.bs-popover-auto[data-popper-placement^=left]>.popover-arrow:after,
.bs-popover-start>.popover-arrow:after {
    border-left-color: #ccdcac;
}

.bs-popover-auto[data-popper-placement^=right]>.popover-arrow:after,
.bs-popover-end>.popover-arrow:after {
    border-right-color: #ccdcac;
}

.bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow:after,
.bs-popover-bottom>.popover-arrow:after {
    border-bottom-color: #ccdcac;
}

.bs-popover-auto[data-popper-placement^=top]>.popover-arrow:after,
.bs-popover-top>.popover-arrow:after {
    border-top-color: #ccdcac;
}

.popover-arrow {
    border-color: #ccdcac;
}